/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1 base styles
 */
h1 {
	font-size: 3.75em; // 2.25rem;
	line-height: 1;
	word-wrap: break-word;

	@media all and (min-width: $bp-med) {
		font-size: 2.75rem;
	}
}

/**
 * Heading 2 base styles
 */
h2 {
	font-size: 3.125em; // 1.6em;
	line-height: 1.2;
	letter-spacing: -0.02rem;
	margin-bottom: 0.5rem;
	word-wrap: break-word;
}

/**
 * Heading 3 base styles
 */
h3 {
	font-size: 2.5em; // 1.2em;
	line-height: 1.3;
	margin-bottom: 0.3rem;
	word-wrap: break-word;
}

/**
 * Heading 4 base styles
 */
h4 {
	font-size: 2.188em; // 1.2em;
	line-height: 1.3;
	margin-bottom: 0.3rem;
	word-wrap: break-word;
}

/**
 * Heading 5 base styles
 */
h5 {
	font-size: 1.875em; // 1.2em;
	line-height: 1.3;
	margin-bottom: 0.3rem;
	word-wrap: break-word;
}

/**
 * Heading 6 base styles
 */
h6 {
	font-size: 1.563em; // 1.2em;
	line-height: 1;
	margin-bottom: 0.3rem;
	word-wrap: break-word;
}